#root {
  top:0;
  padding: 0;
  margin: 0;
}

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border;
}

img{
  display: block;
  max-width: 100%;
}

body{
  display: grid;
  place-items: center;
  min-height: 100vh;
}